.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  border-radius: 0.5rem;

  .card__header {
    width: auto;
    // background-image: url(../../../public/images/bg-pattern-card.svg);
    // background-repeat: no-repeat;
    // background-size: cover;
    // height: 50vw;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.5rem 0.5rem 0 0;
    }
  }

  .card__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 2em;
    margin: 2em 0em 1.5em;

    .card__body__image {
      object-fit: cover;
      border-radius: 0.5rem 0.5rem 0 0;

      display: flex;
      justify-content: center;

      img {
        border-radius: 5em;
        background-color: white;
        width: 7em;
        padding: 0.3em;

        position: absolute;
        top: 9vw;
      }
    }

    .card__body__profil_info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0em;
      gap: 1em;
      color: rgb(133, 133, 133);
      .card__Name__info {
        font-size: 1.2rem;
        font-weight: 600;
        letter-spacing: 1.5px;
        color: #2f2f2f;

        span {
          font-size: 1em;
          font-weight: 200;
          letter-spacing: 0px;
          color: rgb(133, 133, 133);
        }
      }
    }

    .lign {
      width: 100%;
      border-top: solid 0.1px;
      border-color: #7b7b7b;
      opacity: 0.5;
    }
    .card__body__stat {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .container_counter {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5em;
        flex-wrap: wrap;
        width: 100%;
        .card__body__counter {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 8px;
          span {
            font-size: 1.3em;
          }
          .card__body__counter__label {
            font-size: 0.6em;
            font-weight: 700;
            color: rgb(133, 133, 133);
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 80%;
    margin: 0 auto;
    .card__body {
      .card__body__image {
        img {
          width: 5em;
          padding: 0.3em;
          top: 5vw;
        }
      }
      .card__body__profil_info {
        .card__Name__info {
          font-size: 1rem;
          span {
            font-size: 0.8em;
          }
        }
      }
      .card__body__stat {
        .container_counter {
          .card__body__counter {
            span {
              font-size: 1em;
            }
            .card__body__counter__label {
              font-size: 0.5em;
            }
          }
        }
      }
    }
  }
}
